.container {
    display: flex;
    margin: 0;
    width: 100vw;
    height: 100vh;
    position: relative;
    background-color: #525659;
}

.hero-tag {
    background-image: url(ana-grave-156852-unsplash.jpg);
    width: 100%;
    background-size: cover;
}

.navBar {
    display: flex;
    justify-content: space-between;
    
    
}

.midScreen {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about {
    display: flex;
    margin: 0;
}